html {
  min-height: 100vh;
}

body {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}

.main-card {
  background: #adecf7;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(9, 9, 84, 0.2);
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

.heading {
  margin-top: 30px;
}

.celsius-button,
.fahrenheit-button {
  width: 45px;
  background: rgba(252, 160, 2, 1);
}

.date {
  margin-top: 10px;
}

.climate {
  margin-top: 20px;
}

.forecast {
  margin-bottom: 20px;
}

.forecast-card {
  border-radius: 10px;
}

.forecast-icon {
  font-size: 48px;
}

.github {
  text-align: center;
}
